main {
  padding: 10px;
}

.container {
  border: 1px solid #000;
  border-top: none;
  border-bottom: none;
}

.wraper {
  margin-top: 20px;
  margin-left: 15px;
}

.wraper .track {
  display: block;
  text-decoration: none;
  position: relative;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  width: 0px;
}

.wraper .track .fa-truck {  
  position: absolute;
  height: 100%;
  right: 0;
  color: inherit;
  font-size: 24px;
  line-height: 30px;
  transform: translateX(100%) rotateY(180deg);
}


.race [class*="box"] .track {
  animation-play-state: paused !important;
}
.race.play [class*="box"] .track {
  animation-play-state: running !important;
}

[class*="box"] {
  margin-right: 23px;
  background: orange;
  position: relative;
}

[class*="box"]+[class*="box"] {
  border-top: 3px solid #fff;
}

[class*="box"]::before {
  content: '';
  display: block;
  width: 20px;
  background: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 23px;
}

[class*="box"]::after {
  content: '';
  display: block;
  width: 20px;
  background: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

@keyframes race {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.amount::before {
  content: '$';
}

.v-top15 {
  margin-top: 15px;
}

.v-bottom15 {
  margin-bottom: 15px;
}

#bet-formcontrols label {
  text-align: left;
}

.help-block.text-danger {
  display: none;
}

.has-error .help-block.text-danger {
  display: block;
}

.error:empty {
  display: none;
}

.track.green {
  color: green;
}

.track.red {
  color: red;
}

.track.blue {
  color: blue;
}

.track.brown {
  color: brown;
}

.track.pink {
  color: pink;
}

.track.black {
  color: black;
}

.track.cya {
  color: cya;
}

.user {
  font-size: 16px;
  font-weight: bold;
  padding-left: 5px;
  text-transform: capitalize;
}

.bet-text {
  position: absolute;
  right: 4px;
  font-family: inherit;
  line-height: 30px
}